@tailwind base;
@tailwind components;
@tailwind utilities;

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.prose {
  color: #374151;
  max-width: 65ch;
}

.prose-lg {
  font-size: 1.125rem;
  line-height: 1.7777778;
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}